<!doctype html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>James Conner | Functional Resume</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            header {
                margin-top: .5rem;
                margin-bottom: 2rem;
            }

            .headerimg {
                width: 175px;
                height: 175px;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .single-project {
                margin-bottom: 1.5rem;
            }

            .company-work {
                margin-bottom: 4.5rem;
                border: 1px solid #ddd;
                border-radius: 5px;
                padding-top: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .avoid-pagebreak {
                page-break-inside: avoid;
            }
            
            @media print {
                body {line-height: 1.2;}
                h1 {font-size: 26px;}
                h2 {font-size: 24px;}
                h3 {font-size: 22px;}
                h4 {font-size: 20px;}
                h5 {font-size: 18px;}
                p,li,a {font-size: 12px;}
            }
        </style>
    </head>
    <body>
    <div class="container">
        <header class="text-center">
            <h1>{{ personal_info.first_name }} {{ personal_info.last_name }}</h1>
            <ul class="list-inline">
                <li class="list-inline-item">{{ personal_info.address}}</li>
                <li class="list-inline-item">{{ personal_info.email }}</li>
                <li class="list-inline-item">{{ personal_info.phone }}</li>
            </ul>
            <img src="me.jpg" class="img-thumbnail headerimg">
            <ul class="list-inline">
            {% for web_item in personal_info.web %}
                <li class="list-inline-item">
                    <a class="personal-url" href="{{ web_item.url }}">
                        {{ web_item.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </header>
        <hr />
        {% for company in companies %}
        <div class="company-work">
            <div class="row justify-content-center">
                <div class="col-8 text-center">
                    <h2>{{ company.name }}</h2>
                    <p>{{ company.desc }}</p>
                </div>
            </div>
            <hr />
            {% for project in company.projects %}
            <!-- div class="single-project avoid-pagebreak" -->
            <div class="single-project">
                <div class="row">
                    <div class="col-12">
                        <h3>{{ project.project_title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <h5>Role: {{ project.role }}</h5>
                    </div>
                    <div class="col-4">
                        <h5>{{ project.project_start }} - {{ project.project_end }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Objective</h5>
                        <p>{{ project.objective }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Achievements</h5>
                        <p>{{ project.achievements }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Technologies</h5>
                        <ul class="list-inline">
                        {% for technology in project.technologies %}
                            <li class="list-inline-item">{{ technology }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <!-- div class="col-8">
                        <h5>Objective</h5>
                        <p>{{ project.objective }}</p>
                        <h5>Achievements</h5>
                        <p>{{ project.achievements }}</p>
                    </div>
                    <div class="col-4">
                        <h5>Technologies</h5>
                        <ul class="list-inline">
                        {% for technology in project.technologies %}
                            <li class="list-inline-item">{{ technology }}</li>
                        {% endfor %}
                        </ul>
                    </div -->
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <footer>
            <div class="row justify-content-center">
                <div class="col-12">
                    <p>References and education available on request.</p>
                    <p>Additional work history is available on <a href="https://linkedin.com/in/james-a-conner/">linkedin.com/in/james-a-conner/</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>
