{% extends 'templates/base.j2' %}
{% block content %}
        <hr />
        {% for company in companies %}
        <div class="company-work">
            <div class="row justify-content-center">
                <div class="col-8 text-center">
                    <h2>{{ company.name }}</h2>
                    <p>{{ company.desc }}</p>
                </div>
            </div>
            <hr />
            {% for project in company.projects %}
            <!-- div class="single-project avoid-pagebreak" -->
            <div class="single-project">
                <div class="row">
                    <div class="col-12">
                        <h3>{{ project.project_title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <h5>Role: {{ project.role }}</h5>
                    </div>
                    <div class="col-4">
                        <h5>{{ project.project_start }} - {{ project.project_end }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Objective</h5>
                        <p>{{ project.objective }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Achievements</h5>
                        <p>{{ project.achievements }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Technologies</h5>
                        <ul class="list-inline">
                        {% for technology in project.technologies %}
                            <li class="list-inline-item">{{ technology }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <!-- div class="col-8">
                        <h5>Objective</h5>
                        <p>{{ project.objective }}</p>
                        <h5>Achievements</h5>
                        <p>{{ project.achievements }}</p>
                    </div>
                    <div class="col-4">
                        <h5>Technologies</h5>
                        <ul class="list-inline">
                        {% for technology in project.technologies %}
                            <li class="list-inline-item">{{ technology }}</li>
                        {% endfor %}
                        </ul>
                    </div -->
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
{% endblock content %}
